<p style="color: green"><%= notice %></p>
<h1>Log In</h1>

<%= form_with(scope: :session, url: login_path) do |f| %>

    <div class="form-group">
        <%= f.label :username %><br/>
        <%= f.text_field :username, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= f.label :password %><br/>
        <%= f.password_field :password, class: "form-control" %>
    </div>

    <div class="form-group">
        <button data-action="Log In" class="btn btn-primary">Log In</button>
    </div>
<% end %>