<%= form_with(model: truck) do |form| %>
  <% if truck.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(truck.errors.count, "error") %> prohibited this truck from being saved:</h2>

      <ul>
        <% truck.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
  <!--'{"Monday": true, "Tuesday": false, "Wednesday": false, "Thursday": false, "Friday": false, "Saturday": false, "Sunday": false}'-->
  <!--<%days= ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]%>

  Where i got the checkox format:
  https://getbootstrap.com/docs/5.2/forms/checks-radios/#indeterminate

  
  -->

  <%days= ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]%>

  <div class="form-check">
  <%= form.label :schedule, style: "display: block" %>
  <% days.each do |d|%>
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      <%= d%>
    </label>
    <%end%>
  </div>

  <div>
    <%= form.label :website, style: "display: block" %>
    <%= form.text_field :website %>
  </div>

  <div>
    <%= form.label :longitude, style: "display: block" %>
    <%= form.text_field :longitude %>
  </div>

  <div>
    <%= form.label :latitude, style: "display: block" %>
    <%= form.text_field :latitude %>
  </div>

  <div>
    <%= form.label :menu, style: "display: block" %>
    <%= form.text_field :menu %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
