<div id="<%= dom_id truck %>">
  <p>
    <strong>Name:</strong>
    <%= truck.name %>
  </p>

  <p>
    <strong>Schedule:</strong>
    <%=  format_schedule(truck.schedule) %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= truck.website %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= truck.longitude %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= truck.latitude %>
  </p>

  <p>
    <strong>Menu:</strong>
    <%= truck.menu %>
  </p>

</div>
