<div id="<%= dom_id truck %>">
  <p>
    <strong>Name:</strong>
    <%= truck.name %>
  </p>


<!-- '{"Monday": true, "Tuesday": false, "Wednesday": false, 
       "Thursday": false, "Friday": false, "Saturday": false, "Sunday": false}' -->
  <p>
    <strong>Schedule:</strong>
    <%t = JSON.parse(truck.schedule) %>
    <% w = ""%>
    <%if t["Monday"] === true%>
    <% w += "Mon. "%>
    <%end%>
    <%if t["Tuesday"] === true%>
    <% w += "Tues. "%>
    <%end%>
    <%if t["Wednesday"] === true%>
      <% w += "Wed. "%>
    <%end%>
    <%if t["Thursday"] === true%>
      <% w += "Thurs. "%>
    <%end%>
    <%if t["Friday"] === true%>
      <% w += "Fri. "%>
    <%end%>
    <%if t["Saturday"] === true%>
      <% w += "Sat. "%>
    <%end%>
    <%if t["Sunday"] === true%>
      <% w += "Sun. "%>
    <%end%>
    <%=w%>
  </p>

  <p>
    <strong>Website:</strong>
    <%= truck.website %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= truck.longitude %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= truck.latitude %>
  </p>

  <p>
    <strong>Menu:</strong>
    <%= truck.menu %>
  </p>

</div>
