<div id="<%= dom_id truck %>">

  <p style="font-size: 20px">
    <strong>Schedule:</strong>
    <%=  format_schedule(truck.schedule) %>
  </p>

  <p style="font-size: 20px">
    <strong>Website:</strong>
    <%= truck.website %>
  </p>

  <p style="font-size: 20px">
    <strong>Longitude:</strong>
    <%= truck.longitude %>
  </p>

  <p style="font-size: 20px">
    <strong>Latitude:</strong>
    <%= truck.latitude %>
  </p>

  <p style="font-size: 20px">
    <strong>Menu:</strong>
    <%= truck.menu %>
  </p>

</div>