<p style="color: green"><%= notice %></p>
<% if logged_in? %>
  <%= button_to 'Log Out', logout_path(current_user), method: :delete %>
<%  else %>
  <%= button_to 'Log In', login_path, method: :get  %>
  <%= button_to 'Sign Up', signup_path, method: :get %>
<% end %>

<h1>Trucks</h1>



<%= link_to "Simple view", "/trucks-simple" %>
<% if logged_in? %>
  <%= link_to "Delete all trucks", "/trucks-delete" %>
<% end %>
<!--User Truck table -->
<div id="trucks">

<table class=" table table-stiped table-bordered table-hover">
  <thead class= "thread-primary">
    <tr>
      <th scope="col">Truck's Name</th>
      <th scope="col">Website</th>
      <th scope="col">Menu</th>
      <th scope="col">Schedule</th>
      <th scope="col">latitude</th>
      <th scope="col">Longitude</th>
      <th colspan = "1"></th>
    </tr>
  </thead>
  <tbody>
    <% Truck.all.each do |truck| %>
      <tr class="table-primary table-striped">
        <td><%=truck.name%></td>
        <td><%=truck.website%></td>
        <td><%=truck.menu%></td>
        <td><%t = JSON.parse(truck.schedule) %>
          <% w = ""%>
          <%if t["Monday"] === true%>
          <% w += "Mon. "%>
          <%end%>
          <%if t["Tuesday"] === true%>
          <% w += "Tues. "%>
          <%end%>
          <%if t["Wednesday"] === true%>
            <% w += "Wed. "%>
          <%end%>
          <%if t["Thursday"] === true%>
            <% w += "Thurs. "%>
          <%end%>
          <%if t["Friday"] === true%>
            <% w += "Fri. "%>
          <%end%>
          <%if t["Saturday"] === true%>
            <% w += "Sat. "%>
          <%end%>
          <%if t["Sunday"] === true%>
            <% w += "Sun. "%>
          <%end%>
          <%=w%>
        </td>
        <td><%=truck.latitude%></td>
        <td><%=truck.longitude%></td>
        <td><%= link_to "Show this Truck", truck %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<% if logged_in? %>
  <%= link_to "New truck", new_truck_path %>
<% end %>