<p style="color: green"><%= notice %></p>
<% if logged_in? %>
  <%= button_to 'Log Out', logout_path(current_user), method: :delete %>
<%  else %>
  <%= button_to 'Log In', login_path, method: :get  %>
  <%= button_to 'Sign Up', signup_path, method: :get %>
<% end %>

<h1>Trucks</h1>



<%= link_to "Back to complex view", trucks_path %>

<div id="trucks">
  <% @trucks.each do |truck| %>
    <p>
      <%= link_to ("Name: " + truck.name + " Longitude: " + truck.longitude.to_s + " Latitude: " + truck.latitude.to_s), truck %>
    </p>
  <% end %>
</div>

<% if logged_in? %>
  <%= link_to "New truck", new_truck_path %>
<% end %>